.filters-panel {
    background-color: #EEB0B0;
    color: #7D1E6A;
    position: absolute;
    top: 100%;
    /* border: 1px solid violet; */
    /* box-shadow: 0.1px 1px 30px 0; */
    left: 0;
    border-radius: 1em;
    padding: 1em;
    transition: box-shadow 0.3s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max-content;
    width: max-content;
    z-index: 2;

}

.sort {
    color: #7D1E6A;
    background-color: transparent;
    /* outline: 1px violet solid; */
    padding: 0.1em;
}

.sort>option {
    /* color: black; */
    background-color: #EEB0B0;

}

.rating {
    color: #7D1E6A;
    background-color: transparent;
    outline: 1px violet solid;
    padding: 0.1em;
}

.rating>option {
    /* color: black; */
    background-color: #EEB0B0;
    border-radius: 0;
}

.filters-panel>div,
input,
select {
    margin: 10px;
}