.main-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* margin: 1em; */
    padding: 1em;
    pointer-events: none;
    background-image: linear-gradient(to bottom right, #BDE6F1, #EEB0B0);
    transition: background-image 0.3s ease;
}

.main-panel:hover {
    background-image: linear-gradient(to bottom right, #EEB0B0, #BDE6F1);
}

@media (max-width: 700px) {
    .main-panel {
        grid-template-columns: 1fr;
    }
}