.foot-panel {
    background-color: #7D1E6A;
    display: flex;
    justify-content: space-between;
    border-radius: 2em;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.button {
    width: 100px;
    height: 50px;
    padding: 0.5em;

}

.previous {
    /* background-color: #f1f1f1; */
    color: black;
    background-image: linear-gradient(to right, #BDE6F1, #7D1E6A);
    border-radius: 1em 0 0 1em;

}

.next {
    /* background-color: #f1f1f1; */
    border-radius: 0 1em 1em 0;
    color: black;
    background-image: linear-gradient(to left, #BDE6F1, #7D1E6A);

}

.max-results {
    background-color: #7D1E6A;
    color: white;
    pointer-events: auto;
}

.max-results>select {
    background-color: #7D1E6A;
    color: white;
}

.max-results>option {
    background-color: #7D1E6A;
    color: white;
}

.button {
    /* border: 1px solid violet; */
    /* border-radius: 0 1em 1em 0; */

    color: #7D1E6A;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    pointer-events: auto;
}

.button:hover {
    color: black;
    background-color: white;

}

